@import "../../theme/vars";

.title-favorites {
    color: $graylight;
    font-size: $titlefontsize;
    font-family: $familyfont;
    text-align:center;
}

.favorites {

    .two-name {
        margin: 0 auto!important;
        position: fixed!important;
        width: 100%!important;
        z-index: 1!important;
        background-color: #fff!important;
        height: 100px!important;
        padding: 20px!important;
        
        .first {
            color:#444;
            font-weight: 600;
        }
    }

.favorites-element {
    display: block;
    font-family:  $familyfont;
    height: auto;

        .name {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            height: 70px;
            font-weight: 600;
            padding-left: 10px;
            line-height: 3;
            transform: translateY(-5px);
            margin-top: -69px;
        }

        .address {
            color: #fff;
            height: 49px;
            font-weight: 200;
            padding-left: 10px;
            line-height: 3;
            font-size: 11px;
            transform: translateY(-5px);
            margin-top: -45px;        
        }
    }


    button {
        
        &.places-btn {
            background-color:$alertred;
            color: #fff;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            z-index: 1000;
            position: fixed;
            right: 37px;
            bottom: 30px;
            font-size: 1.2em;
            font-family: $familyfont;
        }
        
        &.profile-btn {
            background-color:$graylight;
            color: #fff;
            width: 37px;
            height: 37px;
            border-radius: 50px;
            z-index: 1000;
            position: fixed;
            right: 44px;
            bottom: 92px;
            font-size: 1.2em;
            font-family:$familyfont;
        }
    }

}