// Raleway Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$raleway-font-path: $font-path !default;

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: local("Raleway Thin"), local("Raleway-thin"), url("#{$raleway-font-path}/raleway-thin.woff") format("woff"), url("#{$raleway-font-path}/raleway-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-extralight"), url("#{$raleway-font-path}/raleway-extralight.woff") format("woff"), url("#{$raleway-font-path}/raleway-ExtraLight.ttf") format("truetype");
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-light"), url("#{$raleway-font-path}/raleway-light.woff") format("woff"), url("#{$raleway-font-path}/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway Regular"), local("Raleway-regular"), url("#{$raleway-font-path}/raleway-regular.woff") format("woff"), url("#{$raleway-font-path}/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: local("Raleway Medium"), local("Raleway-medium"), url("#{$raleway-font-path}/raleway-medium.woff") format("woff"), url("#{$raleway-font-path}/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-semibold"), url("#{$raleway-font-path}/raleway-semibold.woff") format("woff"), url("#{$raleway-font-path}/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-bold"), url("#{$raleway-font-path}/raleway-bold.woff") format("woff"), url("#{$raleway-font-path}/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway ExtraBold"), local("Raleway-extrabold"), url("#{$raleway-font-path}/raleway-extrabold.woff") format("woff"), url("#{$raleway-font-path}/Raleway-ExtraBold.ttf") format("truetype");
}
