.title-bis-register {
	color:#d1d1d1;
	font-size:18px;
	text-align: left;
}

.register-content {
	font-family: 'Raleway', sans-serif;

	.form { 
	 padding-top: 10rem;

	 	.input {
	 		border-bottom: 1px solid #d1d1d1;
	 	}

	 	.text-input-md {
	 		color:#fff;

	 		&::-webkit-input-placeholder {
				color:#000;
	 		}
	 	}

		.submit-btn {
			background-color:#d1d1d1;
			color:#fff;
			margin-top:50px;
			box-shadow: none;
			opacity: 1;
		}	 
	}

		.login-btn {
			background-color: transparent;
			color: #444;
			text-transform: uppercase;
			width: 100%;
			margin-top:10px;
		}

	h2 {
		color:#fff;
		text-align: center;
	}
}