 @import "../../theme/vars";

.title-bis-register {
	color:$graylight;
	font-size:$titlefontsize;
	text-align: left;
    font-family: $familyfont;
}

.register-content {
    font-family: $familyfont;

	.form { 
	 padding-top: 10rem;

	 	.input {
	 		border-bottom: 1px solid $graylight;
	 	}

	 	.text-input-md {

	 		&::-webkit-input-placeholder {
				color:#000;
	 		}
	 	}

		.submit-btn {
			background-color:$graylight;
			color:#fff;
			margin-top:50px;
			box-shadow: none;
			opacity: 1;
			width: 100%;
		}	 
	}

		.login-btn {
			background-color: transparent;
			color: #444;
			text-transform: uppercase;
			width: 100%;
			margin-top:10px;
		}

	h2 {
		color:#fff;
		text-align: center;
	}
}