.title-header {
	.title-bis {
		color:#d1d1d1;
	}
}
.register-content {
	font-family: 'Raleway', sans-serif;

		.button-inner {
			color:#000;
		}
	

	.form { 
	 padding-top: 10rem;

	 	.input {
	 		border-bottom: 1px solid #d1d1d1;
	 	}

	 	.text-input-md {
	 		color:#fff;

	 		&::-webkit-input-placeholder {
				color:#000;
	 		}
	 	}

		.submit-btn {
			background-color:#d1d1d1;;
			color:#000;
			border: 1px solid #fff;
			margin-top:50px;
			box-shadow: none;
		}
		.register-btn {
			background-color:#fff;
			color:#444;

			&:hover {
				background-color:none;
			}
		}	 
	}

	h2 {
		color:#fff;
		text-align: center;
	}
}