.title-header{
	.title {
		color:#d1d1d1;
		text-align: center;
    	font-family: "Raleway";
	}
}

.home {
	font-family: "Raleway";

	.register-btn, .login-btn {
		transform:translateY(14em);
	}

	.login-btn {
		background-color: #dd352e;

		&:hover {
			background:#dd352e;
		}
	}

	.register-btn {
		background-color:#d1d1d1;

		&:hover {
			background-color:#d1d1d1;
		}
	}

	.button-md {
		color:#fff;
		box-shadow: none;
		width:300px;
		margin:10px auto;
	}
}