@import "../../theme/vars";

.title-header{
	.title {
		color:$graylight;
		text-align: center;
    	font-family: $familyfont;
	}
}

.home {
	font-family: $familyfont;

	.register-btn, .login-btn {
		transform:translateY(14em);
	}

	.login-btn {
		background-color:$alertred;

		&:hover {
			background:$alertred;
		}
	}

	.register-btn {
		background-color:$graylight;

		&:hover {
			background-color:$graylight;
		}
	}

	.button-md {
		color:#fff;
		box-shadow: none;
		width:300px;
		margin:10px auto;
	}
}