.title-header{
	.title {
		color:#d1d1d1;
		text-align: center;
	}
}

.home {
	font-family: 'Raleway', sans-serif;

	.register-btn, .login-btn {
		transform:translateY(14em);
	}

	.login-btn {
		background-color: #008080;
	}

	.register-btn {
		background-color:#d1d1d1;
	}

	.button-md {
		color:#fff;
		box-shadow: none;
		width:300px;
		margin:10px auto;

		&:hover {
			background: none;
		}
	}
}