.title-bis-reset {
    color:#ffa500;
    text-align: left;
    font-size: 18px;
    font-family: "Raleway";
}

.resetPassword-content {
    font-family: "Raleway";

	.form { 
	 padding-top: 10rem;

        .input {
            border-bottom:1px solid #d1d1d1;
        }

	 	.text-input-md {
	 		color:#000;

	 		&::-webkit-input-placeholder {
	 			color:#000;
	 		}
	 	}

		.submit-btn {
			background-color:#ffa500;
			color:#fff;
			margin-top:50px;
			box-shadow: none;
		}
    }

    h2 {
        color:#fff;
        text-align: center;
    }
}