<ion-header>
	<ion-navbar class="detailsView">
		<ion-title class="title-header" *ngIf="placeid">
			<div class="title-bis-details">{{ places.name }}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
	<div class="listPlaces">
		<div class="placeDetails" *ngIf="placeid">
			<img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth={{places.photos[0].width}}&photo_reference={{places.photos[0].photo_reference}}&key=AIzaSyATE_DqMHFKC-u-uV1INPrEcHVW6y8k2Aw" alt="">
			<h2>{{ placeid.name }}</h2>
			<div class="addressViewDetails">{{ places.formatted_address }}</div>
			<div class="rating">Note : {{ places.rating }}</div>
		</div>
	</div>

      <button class="submit-btn" block type="button">Partager</button>
