.toolbar-background-md {
    background-color:#000;
    opacity:0.5;
}

.title-bis-details {
    color:#fff;
    font-family: "Raleway";
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff;
    font-family: "Raleway";
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff;
    font-family: "Raleway";
}

h2 {
    font-size:18px;
    color:#4d4d4d;
    margin:20px 10px;
    font-family: "Raleway";
}

.addressViewDetails {
    color:#008080;
    margin:20px 10px;
    font-weight: 600;
    font-family: "Raleway";
}

.rating {
    color:#4d4d4d;
    margin:20px 10px;
    font-family: "Raleway";
}

.phoneNumber {
    margin:20px 10px;
    color:#4d4d4d;
    font-weight:600;
    font-family: "Raleway";
}

.schedule {
    color:#4d4d4d;
    margin:20px 10px;
    font-family: "Raleway";
}
.comment {
    margin:50px 10px;
    color:#4d4d4d;
    font-family: "Raleway";

    .authorName {
        font-weight: 600;
    }
    .reviewRating {
        font-weight: 600;
    }
    .time {
        font-style: italic;
    }
}

.submit-btn {
    background-color:#008080;
    color:#fff;
    box-shadow: none;
    opacity: 1;
    width:95%;
    padding:10px;
    text-transform: uppercase;
    display: block;
    margin:auto;
    font-family: "Raleway";
}
