.toolbar-background-md {
    background-color:#000;
    opacity:0.5;
}

.title-bis-details {
    color:#fff
}
h2 {
    font-size:18px;
    color:#4d4d4d;
    margin:20px 10px;
}

.addressViewDetails {
    color:#008080;
    margin:20px 10px;
}

.rating {
    color:#4d4d4d;
    margin:20px 10px;
}

.schedule {
    color:#4d4d4d;
    margin:20px 10px;
}

.submit-btn {
    background-color:#008080;
    color:#fff;
    box-shadow: none;
    opacity: 1;
    width:95%;
    padding:10px;
    text-transform: uppercase;
    display: block;
    margin:auto
}