<ion-header>
	<ion-navbar class="detailsView">
		<ion-title class="title-header" *ngIf="place">
			<div class="title-bis-details">{{ place.name }}</div>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="listPlaces">
		<div class="placeDetails" *ngIf="place">
			<img [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=500&photo_reference=' + place.photos[0]?.photo_reference + '&key=AIzaSyATE_DqMHFKC-u-uV1INPrEcHVW6y8k2Aw'" alt="">
			<h2>{{ place.name }}</h2>
			<div class="addressViewDetails">{{ place.formatted_address }}</div>
			<div class="schedule">Horaires : {{ place.opening_hours?.weekday_text }}</div>
			<div class="phoneNumber">Téléphone : {{ place.formatted_phone_number }}</div>
			<div class="rating">Note : {{ place.rating }}</div>
			<div class="comment" *ngFor="let review of place.reviews">
				<div class="authorName">{{ review.author_name }}</div>
				<p id="text"> {{ review.text }} </p>
				<span class="time">{{ place.reviews[0].relative_time_description }}</span><br>
				<span class="reviewRating">Note : {{ place.reviews[0].rating }}</span>
			</div>
		</div>
	</div>

	<button class="save-btn" block type="submit" (click)="updateMyFavorites()">J'enregistre ce bon plan !</button>
</ion-content>