.title-bis {
    color:#d1d1d1;
    font-size: 18px;
    font-family: "Raleway";
}

.place {
    padding:10px 0;
    border-bottom:1px solid #ccc;
    width:100%;
    font-family: "Raleway";

    .address {
        color:#dd352e;
        width:80%;
        display: inline-block;
        padding-left:40px;
        font-size:0.9em;
    }

    .picture { 
        width: 30px;
        display: inline-block;
        transform: translateY(20px);
    }

    .name {
        display: inline-block;
        width:80%;
        padding-left:10px;
        color:#999;
    }

    .locate {
        display: inline-block;
        font-size:2em;
        color:#444;
        vertical-align: middle;
    }
}

button {
    
    &.disconnect-btn {
        background-color: #dd352e;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        z-index: 1000;
        position: fixed;
        right: 37px;
        bottom: 30px;
        font-size: 1.4em;
        font-family: "Raleway";
    }

    &.profile-btn {
        background-color: #444;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        z-index: 1000;
        position: fixed;
        right: 45px;
        bottom: 90px;
        font-size: 1em;
        font-family: "Raleway";
    }
}