.title-bis {
    color:#d1d1d1;
    text-align: center;
    font-size: 18px;
    font-family: "Raleway";
}

.place {
    padding:10px 0;
    border-bottom:1px solid #ccc;
    width:100%;
    font-family: "Raleway";

    .address {
        color:#d1d1d1;
        width:80%;
        display: inline-block;
        padding-left:40px;
        font-size:0.9em;
    }

    .name {
        display: inline-block;
        width:80%;
        padding-left:10px;
        color:#008080;
    }

    .locate {
        display: inline-block;
        font-size:2em;
        color:#d1d1d1;
        vertical-align: middle;
    }
}

button {
    
    &.disconnect-btn {
        background-color: teal;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        z-index: 1000;
        position: fixed;
        right: 37px;
        bottom: 30px;
        font-size: 1.2em;
        font-family: "Raleway";
    }
}