.title-bis-login {
	color:#008080;
	font-size:18px;
	font-family: "Raleway";
}

.login-content {
	font-family: "Raleway";


	.form { 
	 padding-top: 10rem;

	 	.input {
	 		border-bottom: 1px solid #d1d1d1;
	 	}

	 	.text-input-md {
	 		color:#000;

	 		&::-webkit-input-placeholder {
	 			color:#000;
	 		}
	 	}

		 .reset-btn {
			width: 100%;
			margin-top: 20px;
			padding: 10px;
			background-color: #ffa500;
			color: #fff;
		 }

		.submit-btn {
			background-color:#008080;
			color:#fff;
			margin-top:50px;
			box-shadow: none;
			opacity: 1;
		}
		.register-btn {
			background-color:#fff;
			color:#008080;

			&:hover {
				background-color:none;
			}
		}	 
	}

	h2 {
		color:#fff;
		text-align: center;
	}
}